# IDEs and Editors
.vscode/
.idea/

# Python Virtual Environments (isolated to each subfolder or root)
.venv/
venv/
env/
ENV/

# Python Compiled Caches
**/__pycache__/
*.pyc

# PyTorch Model Weight Files
*.pt

# Local Runtime Output Logs & YOLO/OCR Results
**/runs/

# Machine Learning Datasets
**/dataset/train/
**/dataset/valid/
**/dataset/test/